/* Variáveis */
:root {
    /* Cores */
    --vermelho: #E50914;
    --preto: #141414;
    --cinza: #AAA;
    --branco: #FFF;
}

/* ============================================================= */
/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ============================================================= */
/* Seletores */
body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* ============================================================= */
/* Classes */
/* Header - Logo, Menu*/
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 10px;
}

header nav a {
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;
}

header nav a:hover {
    color: var(--branco);
}

/* Main - Filme principal*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("../img/capa-house.jpg");
    background-size: cover;
    height: 400px;
}
